@font-face {
	font-family: "be-vietnam";
	src: url("../font/bevietnam-regular-webfont.woff2") format("woff2"),
		url("../font/bevietnam-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
  font-family: be-vietnam, Helvetica, sans-serif;
  --base-color: #f8f8f8;
  --off-white: #fcfcfc;
  --text-color: black;
  --font-extra-big: 5rem;
  --font-big: 3.6rem;
  --font-medium: 2rem;
  --font-small: 1.6rem;
  --darkgray: rgb(90, 90, 90);
  --shadow: rgb(195, 195, 195);
}

.darkmode {
  font-family: be-vietnam, Helvetica, sans-serif;
  --base-color: #242727;
  --off-white: rgb(48, 48, 48);
  --text-color: white;
  --font-extra-big: 5rem;
  --font-big: 3.6rem;
  --font-medium: 2rem;
  --font-small: 1.6rem;
  --darkgray: rgb(179, 179, 179);
  --shadow: rgb(141, 141, 141);
}

* {
	box-sizing: border-box;
	margin: 0;
  cursor: none;
	/* outline: 1px solid green; */
}

html {
	font-size: 62.5%;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

body {
  cursor: none;
  background: var(--base-color);
  color: var(--text-color);
}

/* Cursor styling */
.cursor-dot {
  width: 7px;
  height: 7px;
  background-color: var(--text-color);
  z-index: 10;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid var(--text-color);
  opacity: 0.5;
  z-index: 10;
}

.cursor-dot, .cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10;
  pointer-events: none;
}

/* Dark mode button */
#theme-switch {
  height: 5rem;
  width: 5rem;
  padding: 0;
  border-radius: 50%;
  background-color: var(--off-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 4rem;
  right: 6rem;
  z-index: 5;

  svg {
    fill: var(--text-color);
  }

  svg:last-child {
    display: none;
  }
}

.darkmode #theme-switch svg:first-child{
  display: none;
}

.darkmode #theme-switch svg:last-child{
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 6rem;
  gap: 3rem;

  .header {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .header-top {
      display: flex;
      gap: 3rem;
      align-items: center;

      .back-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        position: relative;
        bottom: -0.6rem;
        background-color: var(--base-color);
        border: 2px solid var(--text-color);
        border-radius: 50%;
        transition: 0.3s linear;

        svg {
          width: 3rem;
          height: 3rem;
          fill: var(--text-color);
          transition: 0.3s linear;
        }
      }

      .back-button:hover{
        background-color: var(--text-color);
        color: var(--base-color);

        svg {
          fill: var(--base-color);
        }
      }

      .project-title {
        font-size: var(--font-extra-big);
        font-weight: bold;
      }
    }

    .header-bottom {
      font-size: var(--font-medium);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4rem;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: var(--font-medium);
        font-weight: bold;
        width: 18rem;
        height: 4.8rem;
        background-color: var(--base-color);
        border: 2px solid var(--text-color);
        border-radius: 0.5rem;
        transition: 0.3s linear;

        svg {
          width: 3rem;
          height: 3rem;
          fill: var(--text-color);
          transition: 0.3s linear;
        }
      }

      .btn:hover{
        background-color: var(--text-color);
        color: var(--base-color);

        svg {
          fill: var(--base-color);
        }
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: var(--font-small);

    p {
      text-wrap: pretty;
    }
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-top: 4rem;

    div {
      padding-top: 2rem;
      box-shadow: 0 6px 8px var(--shadow);
      border-radius: 1.5rem;
    }

    img {
      border-radius: 1.5rem;
    }

    h2 {
      font-size: var(--font-big);
      text-align: center;
      margin-bottom: 2rem;
    }
  }

}

@media (max-width: 768px) {
  #theme-switch {
    height: 4rem;
    width: 4rem;
    top: 3.2rem;
    right: 2rem;
  }

  /* Cursor */
  .cursor-dot, .cursor-outline {
    opacity: 0;
  }

  *, body {
    cursor: default;
  }

  a:hover, svg:hover {
    cursor: pointer;
  }

  /* Content */
  .container {
    margin: 2rem;
    gap: 2rem;

    .header {
      .header-top {
        flex-direction: row;
        gap: 1.5rem;

        .back-button {
          width: 4rem;
          height: 4rem;
        }

    
        .project-title {
          font-size: var(--font-big);
        }
      }

      .header-bottom {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
      }

      .buttons {
        gap: 2rem;
      }
    }

    .description {
      font-size: var(--font-small);
    }

    .images {
      gap: 4rem;
      margin-top: 2rem;
      margin-bottom: 4rem;

      h2 {
        font-size: var(--font-medium);
      }
    }
  }
}