@font-face {
	font-family: "be-vietnam";
	src: url("../font/bevietnam-regular-webfont.woff2") format("woff2"),
		url("../font/bevietnam-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
  font-family: be-vietnam, Helvetica, sans-serif;
  --base-white: white;
  --off-white: #fafafa;
  --font-extra-big: 5.7rem;
  --font-big: 3.6rem;
  --font-medium: 2.2rem;
  --font-small: 1.4rem;
  --darkgray: rgb(90, 90, 90);
  --shadow: rgb(195, 195, 195);
}

* {
	box-sizing: border-box;
	margin: 0;
  cursor: none;
	/* outline: 1px solid green; */
}

body {
  background-color: var(--base-white);
}

html {
	font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

body {
  cursor: none;
}

.cursor-dot {
  width: 7px;
  height: 7px;
  background-color: black;
  z-index: 10;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 10%, 0.5);
  z-index: 10;
}

.cursor-dot, .cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 6rem;
  gap: 3rem;

  .header {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .header-top {
      display: flex;
      gap: 3rem;
      align-items: center;

      .back-button {
        width: 6rem;
        height: 6rem;
        position: relative;
        bottom: -0.5rem;
        cursor: pointer;
      }

      .project-title {
        font-size: var(--font-extra-big);
        font-weight: bold;
      }
    }

    /* .header-bottom {
      display: flex;
      font-size: var(--font-medium);
      gap: 3rem;
    } */

    .header-bottom {
      font-size: var(--font-medium);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: var(--font-small);
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 8rem;

    div {
      padding-top: 2rem;
      box-shadow: 0 6px 8px var(--shadow);
    }

    h2 {
      text-align: center;
    }
  }

}