@font-face {
	font-family: "be-vietnam";
	src: url("font/bevietnam-regular-webfont.woff2") format("woff2"),
		url("font/bevietnam-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
  font-family: be-vietnam, Helvetica, sans-serif;
  --base-white: white;
  --off-white: #fafafa;
  --font-extra-big: 5.7rem;
  --font-big: 3.6rem;
  --font-medium: 2rem;
  --font-small: 1.4rem;
  --darkgray: rgb(90, 90, 90);
  --shadow: rgb(195, 195, 195);
}

* {
	box-sizing: border-box;
	margin: 0;
  cursor: none;
	/* outline: 1px solid green; */
}

html {
	font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Cursor */
body {
  cursor: none;
}

.cursor-dot {
  width: 7px;
  height: 7px;
  background-color: black;
  z-index: 10;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 10%, 0.5);
  z-index: 10;
}

.cursor-dot, .cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}


#overlay.active {
  opacity: 1;
}

/* PageJS Tooltip */
#fp-nav ul li {
  .fp-tooltip {
    color: black;
  }

  a span {
    background: black;
  }
}


body {
  background-color: var(--base-white);
}

.s1 {
	.content-container {
		display: flex;
    flex-direction: column;
		justify-content: center;
    align-items: center;
    padding: 1rem;

    .top {
      z-index: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;

      .text-container {
        display: flex;
        flex-direction: column;
        width: 48rem;
        margin-left: 2rem;

        .greetings {
          font-size: var(--font-medium);
        }
  
        .name {
          font-size: var(--font-big);
          font-weight: bold;
        }
      
        .description {
          color: var(--darkgray);
          font-size: var(--font-medium);

          span {
            color: black;
            font-weight: bold;
          };
        }
  
        .icon-wrapper {
          margin-top: 2rem;
          display: flex;
          gap: 1rem;
        
          svg {
            width: 3.6rem;
            height: 3.6rem;
            transition: transform 0.3s ease;
          }

          svg:hover {
            transform: scale(1.2);
          }
        }
      }
  
      .image-container {
        width: 24rem;
        height: 24rem;
        border-radius: 50%; 
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;        
  
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
    }

    .bottom {
      z-index: 2;
      
      margin-top: 4rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: bold;
      
      .tech-container {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        margin-top: 1rem;

        span {
          margin-right: 2rem;
        }
  
        img {
          width: 3.6rem;
          height: 3.6rem;
          transition: transform 0.3s ease;
          position: relative;
        }

        img:hover {
          transform: scale(1.2);
        }
      }
    }
	}
}

.s2 {
  .content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4rem 8rem;
    gap: 4rem;
    

    .page-title {
      text-align: center;
      .title {
        font-size: var(--font-big);
        font-weight: bold;
      }

      .sub-title {
        font-size: var(--font-medium);
      }
    }

    .cards-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4rem;

      .project-card2 {
        border-radius: 1.5rem;
        width: 30rem;
        height: 36rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.5rem 1rem var(--shadow);
        transition: transform 0.3s ease;
        background-color: var(--off-white);
  
        .project-image {
          width: 100%;
          min-height: 12rem;
  
          img {
            border-radius: 1.5rem 1.5rem 0rem 0rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
  
        .bottom {
          display: flex;
          flex-direction: column;
          padding: 2rem;
          height: 100%;
  
          .project-title {
            font-size: var(--font-medium);
            font-weight: bold;
          }
    
          .project-description {
            font-size: var(--font-small);
            margin-top: 0.5rem;
            flex-grow: 1;
          }
    
          .project-tech {
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;

    
            img {
              width: 3rem;
              height: 3rem;
              transition: transform 0.3s ease;
              position: relative;
            }
    
            img:hover {
              transform: scale(1.2);
            }
          }
  
        }
  
        
      }
  
      .project-card2:hover {
        transform: scale(1.03);
      }

    }
  }
}

.s3 {
  .text {
    font-size: var(--font-big);
    text-align: center;
    padding: 1rem;

    a:link {
      color: black;
      transition: all 0.3s ease;
    }

    a:hover {
      background-color: black;
      color: var(--base-white);
    }
  }
}

@media (max-width: 768px) {
  /* Cursor */
  .cursor-dot, .cursor-outline {
    opacity: 0;
  }

  /* PageJS Tooltip */
  #fp-nav {
    opacity: 0;
  }

  .s1 {
    .content-container {
      flex-direction: column;
      padding: 0.5rem;
      gap: 3rem;

      .top {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-container {
          gap: 0.5rem;
          width: 80%;
          margin-top: 3rem;
          margin-left: 0;

          .greetings {
            font-size: var(--font-small);
          }

          .name {
            font-size: var(--font-medium);
          }

          .description {
            font-size: var(--font-small);
          }

          .icon-wrapper {
            justify-content: center;

            svg {
              width: 3.6rem;
              height: 3.6rem;
            }
          }
        }

        .image-container {
          width: 20rem;
          height: 20rem;
        }
      }

      .bottom {
        font-size: var(--font-small);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;

        .tech-container {
          margin-top: 1rem;
          gap: 1.5rem;
          width: 80%;
          flex-wrap: wrap;
          justify-content: center;

          img {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }
  }

  .s3 {
    .text {
      font-size: var(--font-medium);
      text-align: center;
      margin: 4rem;
      padding: 1rem;
    }
  }
}